#include "resource.h"
#include <windows.h>

1 RT_MANIFEST "huntercensor.exe.manifest"

1 VERSIONINFO
FILEVERSION 1,3,0,0
PRODUCTVERSION 1,3,0,0
FILEOS 0x40004L
FILETYPE 0x1L
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904b0"
        {
            VALUE "CompanyName", "Hunter Project"
            VALUE "FileDescription", "huntercensor - Anti-Censorship Discovery Tool"
            VALUE "FileVersion", "1.3.0"
            VALUE "InternalName", "huntercensor"
            VALUE "LegalCopyright", "Copyright (C) 2026"
            VALUE "OriginalFilename", "huntercensor.exe"
            VALUE "ProductName", "huntercensor"
            VALUE "ProductVersion", "1.3.0"
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x409, 1200
    }
}
